# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Environment
.env
.venv
venv/
env/
.env/

# Reference project
public/
public1/

# Distribution / Build directories
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# Unit test / Coverage results
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
*.bak
logs/

# Database
*.db
*.sqlite

# Docker
docker-compose.override.yml

# Celery
celerybeat-schedule
celerybeat.pid